<html>

    <head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
       
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css?cb=1571210816496">
    
        <!-- Slick -->
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick-theme.css" />
    </head>

<body>
    <main>
            <div class="container">
                    <div class="amenities">
                            <h5 class="amenities-header">Amenities</h5>
                            <div class="address">
                                 <h5>Courtyard Atlanta NE/Duluth Sugarloaf</h5>
                                 <p>Satellite, Boulevard, Duluth, GA 1-800-318-4917</p>
                            </div>
                            <div class="row">
                            <div class="hotel-facilities col-lg-6">
                                    <h5>Hotel Amenities</h5>
                            <ul class="lists two-columns"> 
                               
                                <li>Picnic Area</li>
                                <li>Cofee areas</li>
                                <li>elevators</li>
                                <li>Indoor Pool</li>
                                <li>Front desk</li>
                                <li>Business center</li>
                                <li>Express Checkout</li>
                                <li>Restaurant</li>
                                <li>Cafe</li>
                                <li>parking</li>
                                <li>Dry Cleaning</li>
                            
                            </ul>
                            
                            <h5>Family Friendly Amenities</h5>
                            <ul class="lists two-columns">
                               
                                <li>Indoor Pool</li>
                                <li>Free WIFI</li>
                                <li>Laundry Facilities</li>
                                <li>Microwave</li>
                            
                            
                            </ul>
                            <h5>Internet</h5>
                            <ul class="lists">
                               
                                <li>Avaialable in all rooms</li>
                                <li>available in some areas</li>
                               
                            
                            
                            </ul>
                            
                            <h5>Parking</h5>
                            <ul class="lists">
                                <li>free self-parking</li>
                            </ul>
                            
                            <h5>Room Amenities</h5>
                            <ul class="lists two-columns"> 
                               
                                <li>Picnic Area</li>
                                <li>Cofee areas</li>
                                <li>elevators</li>
                                <li>Indoor Pool</li>
                                <li>Front desk</li>
                                <li>Business center</li>
                                <li>Express Checkout</li>
                                <li>Restaurant</li>
                                <li>Cafe</li>
                                <li>parking</li>
                                <li>Dry Cleaning</li>
                            
                            </ul>
                            
                            </div>
                            <div class="hotel-facilities col-lg-6">
                                    <h5>Check-out</h5>
                            <ul class="lists"> 
                                <li>Check-out time is noon</li>
                            </ul>
                            
                            <h5>Children and extra beds</h5>
                            <ul class="lists">
                               
                                <li>Children are welcome</li>
                                <li>Rollaway/extra beds are not available</li>
                                <li>Cribs are not available</li>
                            </ul>
                            
                            <h5>Pets</h5>
                            <ul class="lists">
                                <li>Pets not allowed (service animals welcome)</li>
                            </ul>
                            
                            <h5>Fees</h5>
                            <ul class="lists">
                                <li>The following fees and deposits are charged by the property at time of service, check-in, or check-out. 
                                    Breakfast fee: between USD 6 and USD 15 per person (approximately) The above list may not be comprehensive. 
                                    Fees and deposits may not include tax and are subject to change.</li>
                            </ul>
                            
                            <h5>Payment Types</h5>
                            <div class="payment">
                            
                            <a><img src="../dist/images/Master_card.svg" ></a>
                            <a><img src="../dist/images/Discover.svg" ></a>
                            <a><img src="../dist/images/American_Express.svg" ></a>
                            <a><img src="../dist/images/Visa.svg" ></a>
                            </div>
                            </div>
                            </div>
                            </div>
            </div>
    </main>


</body>

  </html>
 