<head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css">
    
     
    </head>
    
    <div class="container">
    <div class="col-lg-8">
            <div class="apps">
                    <h5 class="apps-title">Apps</h5>
                    <div class="filter-criteria">
                        <ul>
                            <li>
                                <span>ITWorx <i class="drop"></i></span>
                            </li>
                            <li>
                                <span>Business <i class="drop"></i></span>
                            </li>
                            <li>
                                <span>Sitecore <i class="drop"></i></span>
                            </li>
                            <li>
                                <span>Services <i class="drop"></i></span>
                            </li>
                        </ul>
                    </div>
                    <ul class="cards">
                        <li>
                            <div class="card-wrapper">
                                <div class="card-img-wrapper">
                                    <a href="#">
                                        <div class="card-img">
                                            <img src="../dist/images/Image 8.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="#">
                                        <h6>HR System</h6>
                                    </a>
                                    <p>Learn about the health and wellness offerings, recommendations</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-wrapper">
                                <div class="card-img-wrapper">
                                    <a href="#">
                                        <div class="card-img">
                                            <img src="../dist/images/Image 8.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="#">
                                        <h6>Productivity</h6>
                                    </a>
                                    <p>Learn about the health and wellness offerings, recommendations </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-wrapper">
                                <div class="card-img-wrapper">
                                    <a href="#">
                                        <div class="card-img">
                                            <img src="../dist/images/Image 8.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="#">
                                        <h6>CRM System</h6>
                                    </a>
                                    <p>Learn about the health and wellness offerings, recommendations </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-wrapper">
                                <div class="card-img-wrapper">
                                    <a href="#">
                                        <div class="card-img">
                                            <img src="../dist/images/Image 8.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="#">
                                        <h6>CRM System</h6>
                                    </a>
                                    <p>Learn about the health and wellness offerings, recommendations </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-wrapper">
                                <div class="card-img-wrapper">
                                    <a href="#">
                                        <div class="card-img">
                                            <img src="../dist/images/Image 8.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="#">
                                        <h6>CRM System</h6>
                                    </a>
                                    <p>Learn about the health and wellness offerings, recommendations </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="see-all-section apps-section">
                        <a href="#" class="see-all">See All</a>
                    </div>
                </div>
    </div>
    
    </div>
    