<head>
    <!-- General meta tags needed-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Needed for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- If you want custom browser colors on mobile -->
    <meta name="theme-color" content="#1843c1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="../dist/css/app.css">


</head>
<body>
<div class="cafeteria-menu">
    <div class="search-box">
        <input type="text" placeholder="Search for App">
        <span class="icon-search"></span>
    </div>
    <div class="menu">
            <h2>Cafeteria Menu</h2>
            <ul>
                <li>Chicken & veg casserole</li>
                <li>Easy cornflake tart</li>
                <li>Veggie Indian burger</li>

            </ul>
    </div>

    <div class="salary">
        <div class="salary-title">
            <em class="icon icon-salary"></em>
            <h2>Salary</h2>
        </div>
        <div class="row details">
            <div class="col-md-6 left">
                <span>Compensations</span>
                <img src="dist/images/PNGPIX-COM-Pie-Chart-PNG-Transparent-Image.png" />
            </div>
            <div class="col-md-6 right">
                <span>Sep 23, 2019</span>
                <div>
                    <span>Take home</span>
                    <h2>38,<span>126</span></h2>
                </div>
                <div>
                    <span>Gross Pay</span>
                    <h2>24,<span>620</span></h2>
                </div>
            </div>

        </div>
    </div>
</div>
</body>


