<head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css">
    
    
    </head>
    
    <div class="container">
        <div class="col-md-8">
            <div class="card-list">
                <ul>
                    <li>
                        <div class="card-wrapper">
                            <div class="card-img-wrapper">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="../dist/images/Bitmap.png">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text">
                                <div class="person-title">
                                    <img class="profile-img" src="../dist/images/mark.jpg">
                                    <div class="person"> 
                                        <h2>John Adams</h2>
                                        <span>Tuesday at 12:05pm</span>
                                    </div>
                                </div>
    
                                <a href="#">
                                    <h3>Dolor sit amet, consectetur</h3>
                                </a>
                                <p>Courtyard Atlanta NE/Duluth Sugarloaf features an indoor pool and a 24-hour fitness
                                    center. Dining options at the hotel include a restaurant and a coffee shop/café. A
                                    bar/lounge is on site where guests can unwind with a drink.This 3-star property offers
                                    access to a
                                    business center and a meeting room. Onsite self parking is
                                    complimentary. Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</p>
                                <div class="category">
                                    <span class="Services">Services</span>
                                    <span class="Business">Business</span>
                                </div>
    
    
    
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card-wrapper">
                            <div class="card-img-wrapper">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="../dist/images/Bitmap.png">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text">
                                <div class="person-title">
                                    <img class="profile-img" src="../dist/images/mark.jpg">
                                    <div class="person">
                                        <h2>John Adams</h2>
                                        <span>Tuesday at 12:05pm</span>
                                    </div>
                                </div>
    
                                <a href="#">
                                    <h3>Dolor sit amet, consectetur</h3>
                                </a>
                                <p>Courtyard Atlanta NE/Duluth Sugarloaf features an indoor pool and a 24-hour fitness
                                    center. Dining options at the hotel include a restaurant and a coffee shop/café. A
                                    bar/lounge is on site where guests can unwind with a drink.This 3-star property offers
                                    access to a
                                    business center and a meeting room. Onsite self parking is
                                    complimentary. Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</p>
                                <div class="category">
                                    <span class="Services">Services</span>
                                    <span class="Business">Business</span>
                                </div>
    
    
    
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card-wrapper">
                            <div class="card-img-wrapper">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="../dist/images/Bitmap.png">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text">
                                <div class="person-title">
                                    <img class="profile-img" src="../dist/images/mark.jpg">
                                    <div class="person">
                                        <h2>John Adams</h2>
                                        <span>Tuesday at 12:05pm</span>
                                    </div>
                                </div>
    
                                <a href="#">
                                    <h3>Dolor sit amet, consectetur</h3>
                                </a>
                                <p>Courtyard Atlanta NE/Duluth Sugarloaf features an indoor pool and a 24-hour fitness
                                    center. This 3-star property offers access to a
                                    business center and a meeting room. Onsite self parking is
                                    complimentary. Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</p>
                                <div class="category">
                                    <span class="Services">Services</span>
                                    <span class="Business">Business</span>
                                </div>
    
    
    
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card-wrapper">
                            <div class="card-img-wrapper">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="../dist/images/Bitmap.png">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text">
                                <div class="person-title">
                                    <img class="profile-img" src="../dist/images/mark.jpg">
                                    <div class="person">
                                        <h2>John Adams</h2>
                                        <span>Tuesday at 12:05pm</span>
                                    </div>
                                </div>
    
                                <a href="#">
                                    <h3>Dolor sit amet, consectetur</h3>
                                </a>
                                <p>Courtyard Atlanta NE/Duluth Sugarloaf features an indoor pool and a 24-hour fitness
                                    center. Dining options at the hotel include a restaurant and a coffee shop/café. A
                                    bar/lounge is on site where guests can unwind with a drink.This 3-star property offers
                                    access to a
                                    business center and a meeting room. Onsite self parking is
                                    complimentary. Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</p>
                                <div class="category">
                                    <span class="Services">Services</span>
                                    <span class="Business">Business</span>
                                </div>
    
    
    
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card-wrapper">
                            <div class="card-img-wrapper">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="../dist/images/Bitmap.png">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text">
                                <div class="person-title">
                                    <img class="profile-img" src="../dist/images/mark.jpg">
                                    <div class="person">
                                        <h2>John Adams</h2>
                                        <span>Tuesday at 12:05pm</span>
                                    </div>
                                </div>
    
                                <a href="#">
                                    <h3>Dolor sit amet, consectetur</h3>
                                </a>
                                <p> Dining options at the hotel include a restaurant and a coffee shop/café. A
                                    Onsite self parking is
                                    complimentary. Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</p>
                                <div class="category">
                                    <span class="Services">Services</span>
                                    <span class="Business">Business</span>
                                </div>
    
    
    
                            </div>
                        </div>
                    </li>
    
                </ul>
    
            </div>
    
        </div>
    </div>
    