<!DOCTYPE html>
<html>
        <head>
                <!-- General meta tags needed-->
                <meta charset="utf-8">
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <!-- Needed for responsive design -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <!-- If you want custom browser colors on mobile -->
                <meta name="theme-color" content="#1843c1" />
                <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
            
                <!-- Google Fonts -->
                <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
            
                <!-- Bootstrap -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
                <!-- CSS File -->
                <link rel="stylesheet" href="../dist/css/app.css">
            
            
            </head>
<body>
    <div class="container">
                <div class="title-section">
                    <div class="row">
                        <div class="col-md-8">
                                <h2>Select your departure to Atlanta</h2>
                                <span>Thu, Oct 3</span>
                        </div>
                          
                            <div class="col-md-4">
                                    <p class="change">Change <a>departure</a> or <a>return</a> airport</p>
                            </div>
                            
                    </div> 
                    <p>The trip prices shown are per person and include Flight +plus Hotel, taxes &amp; fees. Flights
                        include e-tickets,
                        but do not include baggage fees or other fees charged directly by the airline.</p>
                </div>
</div>
</body>
</html>