<html>

    <head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <title>Worxzen | Home | App View </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css?cb=1571210816496">
    
        <!-- Slick -->
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick-theme.css" />
    </head>

<body>
<div class="container">

<div class="col-lg-8">
    <div class="day-to-day">
        <h3>Day To Day</h3> 
        <div class="filter-criteria">
            <ul>
                <li>
                    <span>ITWorx <i class="drop"></i></span>
                </li>
                <li>
                    <span>Business <i class="drop"></i></span>
                </li>
                <li>
                    <span>Sitecore <i class="drop"></i></span>
                </li>
                <li>
                    <span>Services <i class="drop"></i></span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="journey-planner">
                    <span class="icon-plane"><span class="title">Travel</span></span>
                    <ul class="reservation-tabs">
                        <li class="tabs"><a>Flight</a></li>
                        <li class="tabs"><a>Flight + Hotel</a></li>
                        <li class="tabs"><a>Flight + Hotel + Car</a></li>
                    </ul>
                    <div class="location">
                        <div class="starting">
                            <input type="text" placeholder="Choose Starting Point">
                        </div>
                        <a class="icon-swap"></a>
                        <div class="destination">
                            <input type="text" placeholder="Choose Destination">
                        </div>
                    </div>
                    <div class="date">
                            <input type="text" placeholder="MM/DD/YYYY" class="date-picker checkin">
                            <input type="text" placeholder="MM/DD/YYYY" class="date-picker checkout">

                        </div>
                        <div class="search-btn-container">
                    <a class="search-btn">Search</a>
                </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="day-to-day-carousel">
                    <span class="icon-respect"><span class="title">Health & Wellness</span></span>

                    <div class="day-carousel">
                        <div class="day-carousel-slide">
                            <img src="../dist/images/photo1.jpg">

                            <div class="carousel-text">
                                <p class="carousel-header">Health & Wellness</p>

                                <p class="text">
                                    Learn about the health and wellness offerings, recommendations and
                                    lifestyle choices
                                    <p>
                            </div>
                        </div>

                        <div class="day-carousel-slide">
                            <img src="../dist/images/photo2 .jpg">
                            <div class="carousel-text">
                                <p class="carousel-header">Health & Wellness</p>
                                <p class="text">Learn about the health and wellness offerings,
                                    recommendations and lifestyle choices<p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="university">
            <div class="col-lg-12">
                <span class="icon-learning"><span class="title">eUniversity</span></span>
                <div class="statistics-container row">
                    <div class="statistics col-md-6">
                        <img src="../dist/images/Group 58.svg">
                        <div class="info">
                            <p class="title">Completed courses</p>
                            <p class="progress">6/10 Courses</p>
                        </div>
                    </div>
                    <div class="statistics col-md-6">
                        <img src="../dist/images/Group 58 (1).svg">
                        <div class="info">
                            <p class="title">Training Hours</p>
                            <p class="progress">10 Hours</p>
                        </div>
                    </div>
                </div>
                <div class="course-info row">
                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 50%" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 50%" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 5%" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 75%" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 0" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="course-progress">
                        <p class="course-name">Prototyping and Design</p>
                        <p class="comment">You're making Progress</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%" role="progressbar"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="see-all-section day-section">
            <a href="#" class="see-all">See All</a>
        </div>
    </div>
</div>

</body>

  </html>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="../dist/vendor/slick/slick.min.js"></script>

<script src="../dist/scripts/all.js"></script>