<head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css">
    
    
    </head>
    <div class="container">
    
            <div class="flights col-lg-8 col-sm-12">
                    <ul class="col-sm-12">
                        <li>
                            <div class="row details">
                                <div class="col-lg-4 ">
                                    <span>10:30am to- 2:42pm</span>
                                    <span>United</span>
                                    <p>Satisfactory Flight (6.1/10)</p>
                                </div>
                                <div class="col-lg-5 ">
                                    <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                    <p>BDL - 57m in IAD - ATL </p>
                                    <p>United 6201 operated by Mesa Airlines DBA United</p>
                                </div>
                                <div class="col-lg-3 ">
                                    <span>4 left</span>
                                    <a>Select</a>
                                </div>
            
            
                            </div>
                            <p class="border-bottom">
                                Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                            </p>
                            <p>Details & baggage fees</p>
            
                        </li>
                        <li>
                            <div class="row details">
                                <div class="col-lg-4">
                                    <span>10:30am to- 2:42pm</span>
                                    <span>United</span>
                                    <p>Satisfactory Flight (6.1/10)</p>
                                </div>
                                <div class="col-lg-5 ">
                                    <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                    <p>BDL - 57m in IAD - ATL </p>
                                    <p>United 6201 operated by Mesa Airlines DBA United</p>
                                </div>
                                <div class="col-lg-3 ">
                                    <span>4 left</span>
                                    <a>Select</a>
                                </div>
            
            
                            </div>
                            <p class="border-bottom">
                                Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                            </p>
                            <p>Details & baggage fees</p>
            
                        </li>
                        <li>
                            <div class="row details">
                                <div class="col-lg-4 ">
                                    <span>10:30am to- 2:42pm</span>
                                    <span>United</span>
                                    <p>Satisfactory Flight (6.1/10)</p>
                                </div>
                                <div class="col-lg-5 ">
                                    <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                    <p>BDL - 57m in IAD - ATL </p>
                                    <p>United 6201 operated by Mesa Airlines DBA United</p>
                                </div>
                                <div class="col-lg-3 ">
                                    <span>4 left</span>
                                    <a>Select</a>
                                </div>
            
            
                            </div>
                            <p class="border-bottom">
                                Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                            </p>
                            <p>Details & baggage fees</p>
            
                        </li>
                        <li>
                            <div class="row details">
                                <div class="col-lg-4 ">
                                    <span>10:30am to- 2:42pm</span>
                                    <span>United</span>
                                    <p>Satisfactory Flight (6.1/10)</p>
                                </div>
                                <div class="col-lg-5">
                                    <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                    <p>BDL - 57m in IAD - ATL </p>
                                    <p>United 6201 operated by Mesa Airlines DBA United</p>
                                </div>
                                <div class="col-lg-3">
                                    <span>4 left</span>
                                    <a>Select</a>
                                </div>
            
            
                            </div>
                            <p class="border-bottom">
                                Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                            </p>
                            <p>Details & baggage fees</p>
            
                        </li>
                        <li>
                                <div class="row details">
                                    <div class="col-lg-4 ">
                                        <span>10:30am to- 2:42pm</span>
                                        <span>United</span>
                                        <p>Satisfactory Flight (6.1/10)</p>
                                    </div>
                                    <div class="col-lg-5 ">
                                        <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                        <p>BDL - 57m in IAD - ATL </p>
                                        <p>United 6201 operated by Mesa Airlines DBA United</p>
                                    </div>
                                    <div class="col-lg-3 ">
                                        <span>4 left</span>
                                        <a>Select</a>
                                    </div>
                
                
                                </div>
                                <p class="border-bottom">
                                    Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                                </p>
                                <p>Details & baggage fees</p>
                
                            </li>
                            <li>
                                <div class="row details">
                                    <div class="col-lg-4">
                                        <span>10:30am to- 2:42pm</span>
                                        <span>United</span>
                                        <p>Satisfactory Flight (6.1/10)</p>
                                    </div>
                                    <div class="col-lg-5 ">
                                        <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                        <p>BDL - 57m in IAD - ATL </p>
                                        <p>United 6201 operated by Mesa Airlines DBA United</p>
                                    </div>
                                    <div class="col-lg-3 ">
                                        <span>4 left</span>
                                        <a>Select</a>
                                    </div>
                
                
                                </div>
                                <p class="border-bottom">
                                    Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                                </p>
                                <p>Details & baggage fees</p>
                
                            </li>
                            <li>
                                <div class="row details">
                                    <div class="col-lg-4 ">
                                        <span>10:30am to- 2:42pm</span>
                                        <span>United</span>
                                        <p>Satisfactory Flight (6.1/10)</p>
                                    </div>
                                    <div class="col-lg-5 ">
                                        <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                        <p>BDL - 57m in IAD - ATL </p>
                                        <p>United 6201 operated by Mesa Airlines DBA United</p>
                                    </div>
                                    <div class="col-lg-3 ">
                                        <span>4 left</span>
                                        <a>Select</a>
                                    </div>
                
                
                                </div>
                                <p class="border-bottom">
                                    Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                                </p>
                                <p>Details & baggage fees</p>
                
                            </li>
                            <li>
                                <div class="row details">
                                    <div class="col-lg-4 ">
                                        <span>10:30am to- 2:42pm</span>
                                        <span>United</span>
                                        <p>Satisfactory Flight (6.1/10)</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <span class="icons-by-side">4h 12m (1 stop)</span><em class="icon icon-wifi"></em><em class="icon icon-play"></em>
                                        <p>BDL - 57m in IAD - ATL </p>
                                        <p>United 6201 operated by Mesa Airlines DBA United</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>4 left</span>
                                        <a>Select</a>
                                    </div>
                
                
                                </div>
                                <p class="border-bottom">
                                    Flight arrives Oct 4; package includes 2 hotel nights instead of 3.
                                </p>
                                <p>Details & baggage fees</p>
                
                            </li>
                    </ul>
            
                </div>
    </div>