<html>

<head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">

        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css">


</head>

<body>
        <div class="container">
                <div class="col-lg-4">
                        <div class="flights-filter">
                                <div class="dropdown-filter-container">
                                        <h3>SORT BY</h3>
                                        <input class="textbox" type="text">
                                        <button class="btn search-hotel">Search</button>
                                        <h3>Filter property by</h3>
                                        <h6>Price per person ( Flight + Hotel)</h6>
                                        <div class="min-max">
                                                <div class="min">
                                                        <label for="min">Min($)</label>
                                                        <input class="textbox" id="min" type="text">
                                                </div>
                                                <div class="max">
                                                        <label for="max">Max ($)</label>
                                                        <input class="textbox" id="max" type="text">
                                                </div>
                                        </div>
                                </div>
                                <div class="checkbox-container">
                                        <h3>Property Class</h3>
                                        <div class="check-boxes">
                                                <div class="choice">
                                                        <label class="container checkbox-label">5 Stars
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                                <div class="choice">
                                                        <label class="container checkbox-label">4 Stars
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>

                                                <div class="choice">
                                                        <label class="container checkbox-label">3 Stars
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                        </div>
                                </div>

                                <div class="checkbox-container">
                                        <h3>Property Type</h3>
                                        <div class="check-boxes">
                                                <div class="choice">
                                                        <label class="container checkbox-label">Hotel
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                                <div class="choice">
                                                        <label class="container checkbox-label">Appartment
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                                <div class="choice">
                                                        <label class="container checkbox-label">Private Vacation Home
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>

                                                <div class="choice">
                                                        <label class="container checkbox-label">Motel
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>

                                                <div class="choice">
                                                        <label class="container checkbox-label">Apart-hotel
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>
                                        </div>
                                </div>
                                <a class="checkbox-more">Show more</a>

                        </div>
                </div>
        </div>


</body>

</html>