<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../dist/css/app.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="../dist/scripts/header.js"></script>
</head>
<header> 
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

                <div class="logo">
                    <img src="../dist/images/itworx-logo.png">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 header-actions">
                <ul>
                    <li>
                        <em class="icon-search"></em>
                    </li>
                    <li>
                        <em class="icon-app"></em>
                    </li>
                    <li>
                        <em class="icon-star"></em>
                    </li>
                    <li class="notification">
                        <span class="notif-counter">5</span>
                        <em class="icon-notification"></em>
                    </li>
                    <li class="profile">
                        <img src="../dist/images/mark.jpg">
                    </li>
                    <li>
                        <em class="icon-add"></em>
                    </li>
            </div>
        </div>
    </div>
</header>