<html>

    <head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <title>Worxzen | Home | App View </title>
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css?cb=1571210816496">
    
        <!-- Slick -->
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick-theme.css" />
    </head>

  <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>

                    <div class="logo">
                        <img src="../dist/images/itworx-logo.png">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 header-actions">
                    <ul>
                        <li>
                            <em class="icon-search"></em>
                        </li>
                        <li>
                            <em class="icon-app"></em>
                        </li>
                        <li>
                            <em class="icon-star"></em>
                        </li>
                        <li class="notification">
                            <span class="notif-counter">5</span>
                            <em class="icon-notification"></em>
                        </li>
                        <li class="profile">
                            <img src="../dist/images/mark.jpg">
                        </li>
                        <li>
                            <em class="icon-add"></em>
                        </li>
                </div>
            </div>
        </div>
    </header>

    <div class="highlights-carousel">
        <div class="highlights">
            <img src="../dist/images/photo1.jpg">
            <div class="container">
                <div class="highlights-text">
                    <p class="small-header">Insights driven</p>
                    <h1>Costumer Experience</h1>
                    <p class="highlight-info">An integral component of Corporate OS,
                        1DX is an end-to-end customer experience solution that combines campaign and marketing
                        automation,
                        integrated content and commerce, personalization, ML-based big data analytics<p>
                </div>
            </div>
        </div>
        <div class=" highlights">
            <img src="../dist/images/photo2.jpg">
            <div class="container">
                <div class="highlights-text">
                    <p class="small-header">Insights driven</p>
                    <h1>Vendor Experience</h1>
                    <p class="highlight-info">An integral component of Corporate OS,
                        1DX is an end-to-end customer experience solution that combines campaign and marketing
                        automation,
                        integrated content and commerce, personalization, ML-based big data analytics<p>
                </div>
            </div>
        </div>
        <div class="highlights">
            <img src="../dist/images/photo3.jpeg">
            <div class="container">
                <div class="highlights-text">
                    <p class="small-header">Insights driven</p>
                    <h1>Client Experience</h1>
                    <p class="highlight-info">An integral component of Corporate OS,
                        1DX is an end-to-end customer experience solution that combines campaign and marketing
                        automation,
                        integrated content and commerce, personalization, ML-based big data analytics<p>
                </div>
            </div>
        </div>
    </div>

  <div class="container">
    <div class="welcome-block">

        <div class="welcome-text">Welcome to your customizable intranet which
            designed for you and your prefrences</div>
        <div class="layout-controls">
            <div class="welcome-text">Change Layout</div>
            <div class="layout-btns">
                <a class="icon-app-first"></a>
                <a class="icon-app"></a>
                <a class="icon-side-menu"></a>
            </div>
        </div>


    </div>
  </div>


  </body>
</html>		
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script type="text/javascript" src="../dist/vendor/slick/slick.min.js"></script>

<script src="../dist/scripts/all.js"></script>