<!DOCTYPE html>
<html>

<head>
    <!-- General meta tags needed-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Needed for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- If you want custom browser colors on mobile -->
    <meta name="theme-color" content="#1843c1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="../dist/css/app.css">


</head>

<body>
    <div class="container">
        <div class="hotel-map col-md-4">
         
                    <div class="content-wrapper">
                            <div class="review-row">
                                <h5>Exceptional !</h5>
                                <h5>4.7 of 5 guest rating</h5>
                                <p>(275 reviews)</p>
                                <a href="#">View all 400 Verified Reviews</a>
                            </div>
            
                            <div class="icons-row">
                                <div class="icon-container">
                                    <span class="icon icon-parking"></span>
                                    <div class="icon-label">Parking</div>
                                </div>
            
                                <div class="icon-container">
                                    <span class="icon icon-wifi"></span>
                                    <div class="icon-label">WI-FI</div>
                                </div>
            
                                <div class="icon-container">
                                    <span class="icon icon-restaurant"></span>
                                    <div class="icon-label">Restaurant</div>
                                </div>
            
                                <div class="icon-container">
                                    <span class="icon icon-wifi"></span>
                                    <div class="icon-label">Pool</div>
                                </div>
            
                            </div>
            
                            <div class="address-row">
                                <div class="address">Courtyard Atlanta NE/Duluth Sugarloaf features an indoor pool and a 24-hour
                                    fitness center.
                                    Dining options at the hotel include a restaurant and a coffee shop/café.
                                    A bar/lounge is on site where guests can unwind with a drink.
                                    Public areas are equipped with complimentary wireless Internet access.
                                    This 3-star property offers access to a business center and a meeting room.
                                    This business-friendly hotel also offers gift shops/newsstands, a picnic area, and coffee/tea in
                                    a common area.
                                    Onsite self parking is complimentary.
                                    Courtyard Atlanta NE/Duluth Sugarloaf is a smoke-free property.</div>
                                <a href="#">Show more</a>
                            </div>
            
                            <div id="googleMap" class="map">
                                <img src="../dist/images/staticmap.png">
                            </div>
                        </div>
      
           
        </div>
    </div>
</body>

</html>