<!DOCTYPE html>
<html>
        <head>
                <!-- General meta tags needed-->
                <meta charset="utf-8">
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <!-- Needed for responsive design -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <!-- If you want custom browser colors on mobile -->
                <meta name="theme-color" content="#1843c1" />
                <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
            
                <!-- Google Fonts -->
                <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
            
                <!-- Bootstrap -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
                <!-- CSS File -->
                <link rel="stylesheet" href="../dist/css/app.css">
            
            
            </head>
<body>
    <div class="container">
    <div class="hotel-title-wrapper row">
       <div class="title col-md-9">
           <h2>Courtyard Atlanta NE/Duluth Sugarloaf</h2>
            <div class="hotel-rating">
                    <i class="icon icon-star active "></i>
                    <i class="icon icon-star active "></i>
                    <i class="icon icon-star active "></i>
                    <i class="icon icon-star"></i>
                </div>
                <p>Satellite, Boulevard, Duluth, GA 1-800-318-4917</p>
       </div>
       <div class="choose-btn col-md-3"><a class="btn">Choose a room</a></div>
    </div>
</div>
</body>
</html>
