<head>
    <!-- General meta tags needed-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Needed for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- If you want custom browser colors on mobile -->
    <meta name="theme-color" content="#1843c1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="../dist/css/app.css">


</head>
<div class="container">

    <div class="col-lg-8">
        <div class="hotels">
            <div class="tabs">
                <ul id="navBar" class="nav nav-tabs justify-content-center row">
                    <li class="nav-item">
                        <a href="#content1" class="nav-link active" role="tab" data-toggle="tab" aria-selected="true">
                            Featured
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#content2" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">
                            Price
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#content2" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">
                            Distance from Downtown
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#content2" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">
                            Guest Rating
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#content2" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">
                            Vacation Rentals
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="row cards">
                <li class="col-md-12">
                    <a href="#">
                        <div class="card-wrapper row">
                            <div class="card-img col-md-3">
                                <img src="../dist/images/images_Hyatt-Atlanta-Perimeter-at-Villa-Christina@2x.png">
                            </div>
                            <div class="card-text  col-md-6">
                                <h3>Courtyard Atlanta NE/Duluth Sugarloaf</h3>
                                <div class="hotel-rating">
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star"></i>
                                </div>
                                <div class="filter-criteria">
                                    <ul>
                                        <li>
                                            <span>Under Company Agreement</span>
                                        </li>
                                        <li class="active">
                                            <span>Within Budget</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>Duluth</h4>
                                <p>Free cancelation</p>
                                <div class="flight">
                                    <em class="icon icon-plane"></em>
                                    <p>Economy/Coach flights included in price</p>
                                </div>
                            </div>
                            <div class="card-text  col-md-3">
                                <div>
                                    <em class="icon icon-eye"></em>
                                    <span>Viewed</span>
                                </div>
                                <div>
                                    <span>4.7/5</span>
                                    <span>Exceptional!</span>
                                    <span>(275 reviews)</span>
                                </div>
                                <div class="budget">
                                    <span>+200$</span>
                                    <span>Per person includes flight + hotel</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-md-12">
                    <a href="#">
                        <div class="card-wrapper row">
                            <div class="card-img col-md-3">
                                <img src="../dist/images/images_Hyatt-Atlanta-Perimeter-at-Villa-Christina@2x.png">
                            </div>
                            <div class="card-text  col-md-6">
                                <h3>Courtyard Atlanta NE/Duluth Sugarloaf</h3>
                                <div class="hotel-rating">
                                    <i class="icon icon-star active "></i>
                                    <i class="icon icon-star active "></i>
                                    <i class="icon icon-star active "></i>
                                    <i class="icon icon-star"></i>
                                </div>
                                <div class="filter-criteria">
                                    <ul>
                                        <li>
                                            <span>Under Company Agreement</span>
                                        </li>
                                        <li class="active">
                                            <span>Within Budget</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>Duluth</h4>
                                <p>Free cancelation</p>
                                <div class="flight">
                                    <em class="icon icon-plane"></em>
                                    <p>Economy/Coach flights included in price</p>
                                </div>
                            </div>
                            <div class="card-text  col-md-3">
                                <div>
                                    <em class="icon icon-eye"></em>
                                    <span>Viewed</span>
                                </div>
                                <div>
                                    <span>4.7/5</span>
                                    <span>Exceptional!</span>
                                    <span>(275 reviews)</span>
                                </div>
                                <div class="budget">
                                    <span>+200$</span>
                                    <span>Per person includes flight + hotel</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-12">
                    <a href="#">
                        <div class="card-wrapper row">
                            <div class="card-img col-md-3">
                                <img src="../dist/images/images_Hyatt-Atlanta-Perimeter-at-Villa-Christina@2x.png">
                            </div>
                            <div class="card-text  col-md-6">
                                <h3>Courtyard Atlanta NE/Duluth Sugarloaf</h3>
                                <div class="hotel-rating">
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star"></i>
                                </div>
                                <div class="filter-criteria">
                                    <ul>
                                        <li>
                                            <span>Under Company Agreement</span>
                                        </li>
                                        <li class="active">
                                            <span>Within Budget</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>Duluth</h4>
                                <p>Free cancelation</p>
                                <div class="flight">
                                    <em class="icon icon-plane"></em>
                                    <p>Economy/Coach flights included in price</p>
                                </div>
                            </div>
                            <div class="card-text  col-md-3">
                                <div>
                                    <em class="icon icon-eye"></em>
                                    <span>Viewed</span>
                                </div>
                                <div>
                                    <span>4.7/5</span>
                                    <span>Exceptional!</span>
                                    <span>(275 reviews)</span>
                                </div>
                                <div class="budget">
                                    <span>+200$</span>
                                    <span>Per person includes flight + hotel</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-12">
                    <a href="#">
                        <div class="card-wrapper row">
                            <div class="card-img col-md-3">
                                <img src="../dist/images/images_Hyatt-Atlanta-Perimeter-at-Villa-Christina@2x.png">
                            </div>
                            <div class="card-text  col-md-6">
                                <h3>Courtyard Atlanta NE/Duluth Sugarloaf</h3>
                                <div class="hotel-rating">
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star"></i>
                                </div>
                                <div class="filter-criteria">
                                    <ul>
                                        <li>
                                            <span>Under Company Agreement</span>
                                        </li>
                                        <li class="active">
                                            <span>Within Budget</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>Duluth</h4>
                                <p>Free cancelation</p>
                                <div class="flight">
                                    <em class="icon icon-plane"></em>
                                    <p>Economy/Coach flights included in price</p>
                                </div>
                            </div>
                            <div class="card-text  col-md-3">
                                <div>
                                    <em class="icon icon-eye"></em>
                                    <span>Viewed</span>
                                </div>
                                <div>
                                    <span>4.7/5</span>
                                    <span>Exceptional!</span>
                                    <span>(275 reviews)</span>
                                </div>
                                <div class="budget">
                                    <span>+200$</span>
                                    <span>Per person includes flight + hotel</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-12">
                    <a href="#">
                        <div class="card-wrapper row">
                            <div class="card-img col-md-3">
                                <img src="../dist/images/images_Hyatt-Atlanta-Perimeter-at-Villa-Christina@2x.png">
                            </div>
                            <div class="card-text  col-md-6">
                                <h3>Courtyard Atlanta NE/Duluth Sugarloaf</h3>
                                <div class="hotel-rating">
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star active "></i>
                                        <i class="icon icon-star"></i>
                                </div>
                                <div class="filter-criteria">
                                    <ul>
                                        <li>
                                            <span>Under Company Agreement</span>
                                        </li>
                                        <li class="active">
                                            <span>Within Budget</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>Duluth</h4>
                                <p>Free cancelation</p>
                                <div class="flight">
                                    <em class="icon icon-plane"></em>
                                    <p>Economy/Coach flights included in price</p>
                                </div>
                            </div>
                            <div class="card-text  col-md-3">
                                <div>
                                    <em class="icon icon-eye"></em>
                                    <span>Viewed</span>
                                </div>
                                <div>
                                    <span>4.7/5</span>
                                    <span>Exceptional!</span>
                                    <span>(275 reviews)</span>
                                </div>
                                <div class="budget">
                                    <span>+200$</span>
                                    <span>Per person includes flight + hotel</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>




            </ul>

        </div>
    </div>
</div>