<head>
    <!-- General meta tags needed-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Needed for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- If you want custom browser colors on mobile -->
    <meta name="theme-color" content="#1843c1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="../dist/css/app.css">

 
</head>

<div class="container">
        <div class="col-lg-4">
                <div class="pending-approval">
                        <h3 class="list-title"><em class="icon icon-sand-watch"></em>Pending Approval</span> </h3>
                        <ul class="list">
                            <li><img src="../dist/images/Group 667.svg" class="item-image">
                                <div class="details">
                                    <h3>Travel Request 3554701</h3>
                                    <div>
                                        <img src="../dist/images/clock-circular-outline.svg" />
                                        <span>Dec 12 at 9:00am to 11:00am</span>
                                    </div>
                                    <div>
                                        <img src="../dist/images/placeholder.svg" />
                                        <span>Dubai - UAE</span>
                                    </div>

                                    <span>Created by: <span class="name">Michael Saher</span></span>

                                    <div class="buttons">
                                        <a href="#" class="btn btn-success">Approve</a>
                                        <a href="#" class="btn btn-danger">Reject</a>
                                    </div>
                                </div>
                            </li>
                            <li><img src="../dist/images/Group 668.svg" class="item-image">
                                <div class="details">
                                    <h3>Expense Report 5454645</h3>
                                    <div>
                                        <img src="../dist/images/clock-circular-outline.svg" />
                                        <span>Dec 12 at 9:00am to 11:00am</span>
                                    </div>
                                    <div>
                                        <img src="../dist/images/placeholder.svg" />
                                        <span>Dubai - UAE</span>
                                    </div>

                                    <span>Created by: <span class="name">Michael Saher</span></span>
                                    <div class="buttons">
                                        <a href="#" class="btn btn-success">Approve</a>
                                        <a href="#" class="btn btn-danger">Reject</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                        <div class="see-all-section"><a class="see-all">See All</a></div>
                    </div>
        </div>
</div>