<head>
    <!-- General meta tags needed-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Needed for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- If you want custom browser colors on mobile -->
    <meta name="theme-color" content="#1843c1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="../dist/css/app.css">

 
</head>
<div class="container">
    <div class="col-md-8">
        <div class="personal-info ">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="contact border-style row">
                            <a href="#" class="edit"><em class="icon icon-edit-profile"></em></a>
                        <div class="title">
                            <img src="../dist/images/stock-photo-portrait-of-young-businessman-59592712.png">
                            <h2>David James</h2>
                            <p>Business Group Lead</p>
                        </div>
                        <div class="contact-info">
                            <div>
                                <em class="icon icon-mail"></em>
                                <p>David.james@itworx.com</p>
                            </div>
                            <div>
                                <em class="icon icon-skype"></em>
                                <p>David.james@itworx.com</p>
                            </div>
                            <div>
                                <em class="icon icon-call"></em>
                                <p>6342</p>
                            </div>
                            <div class="phone">
                                <em class="icon icon-smartphone"></em>
                                <p>+18608777584</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="salary border-style">
                        <div class="salary-title">
                            <em class="icon icon-salary"></em>
                            <h6>Salary</h6>
                            <span>Sep 23, 2019</span>
                        </div>
                        <div class="row details">
                            <div class="col-6 left">
                                <div>
                                    <span>Gross Pay</span>
                                    <p>38,126</p>
                                </div>
                                <div>
                                    <span>Take home</span>
                                    <p>24,620</p>
                                </div>
                            </div>
                            <div class="col-6 right">
                                <span>Compensations</span>
                                <img src="../dist/images/PNGPIX-COM-Pie-Chart-PNG-Transparent-Image.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="border-style info-card">
                        <img src="../dist/images/Updated-20181002.svg">
                        <div>
                            <div class="info-details">
                                <h4>Check after-hours Impact</h4>
                                <p>Are you able to disconnect and recharge?</p>
                            </div>
                            <div>
                                <span>YH</span>
                                <p>Youssri Helmy + 10 others</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border-style info-card">
                        <img src="../dist/images/Updated-20180911.svg">
                        <div>
                            <div class="info-details">
                                <h4>Check after-hours Impact</h4>
                                <p>Are you able to disconnect and recharge?</p>
                            </div>
                            <div>
                                <span>YH</span>
                                <p>Youssri Helmy + 10 others</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border-style info-card">
                        <img src="../dist/images/3277a297792f134714129d4d3313a50d.png">
                        <div>
                            <div class="info-details">
                                <h4>Check after-hours Impact</h4>
                                <p>Are you able to disconnect and recharge?</p>
                            </div>
                            <div>
                                <span>YH</span>
                                <p>Youssri Helmy + 10 others</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="border-style info-card">
                        <img src="../dist/images/Updated-20180912.svg">
                        <div>
                            <div class="info-details">
                                <h4>Check after-hours Impact</h4>
                                <p>Are you able to disconnect and recharge?</p>
                            </div>
                            <div>
                                <span>YH</span>
                                <p>Youssri Helmy + 10 others</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="border-style cafeteria">
                        <div class="title">
                            <img src="../dist/images/serving-dish.svg">
                            <h4>Cafeteria Menu</h4>
                        </div>
                        <div class="row details">
                            <div class="col-md-6 col-sm-12">
                                <div class="item">
                                    <p>Chicken &amp; veg casserole</p>
                                    <span>20 $</span>
                                </div>
                                <div class="item">
                                    <p>Easy cornflake tart</p>
                                    <span>20 $</span>
                                </div>
                                <div class="item">
                                    <p>Veggie Indian burger</p>
                                    <span>20 $</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="item">
                                    <p>Chicken &amp; veg casserole</p>
                                    <span>20 $</span>
                                </div>
                                <div class="item">
                                    <p>Easy cornflake tart</p>
                                    <span>20 $</span>
                                </div>
                                <div class="item">
                                    <p>Veggie Indian burger</p>
                                    <span>20 $</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>