<html>

    <head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- If you want custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">
    
        <title>Worxzen | Home | App View </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../dist/css/app.css?cb=1571210816496">
    
        <!-- Slick -->
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="../dist/vendor/slick/slick-theme.css" />
    </head>

<body>
    <main>
            <div class="container">
                    <div class="rooms">
                            <h2 class="title">Choose your room</h2>
                            <h5>Room type</h5>
                            <ul class="col-12 cards">

                                    <li class="row">
                                            <div class="card-img col-md-3">
                                                <img src="../dist/images/Image 15.png">
                                            </div>
                                            <div class="card-text  col-md-6">
                                                    <h3>Standard Room, 1 King Bed with Sofa bed 425 square feet</h3>
                                                    <p>1 king and 1 sofa bed </p>
                                                    <p>Room sleeps 4 guests (up to 3 children)</p>
                                                    <ul>
                                                        <li>
                                                            <em class="icon icon-parking"></em>
                                                            <p>Free Parking</p>
                                                        </li>
                                                        <li>
                                                            <em class="icon icon-wifi"></em>
                                                            <p>Free WIFI</p>
                                                        </li>
                                                    </ul>
                                                    <a href="#">Show room information</a>
                                                </div>
                                            <div class="card-text  col-md-3">
                            
                                                    <p>+ $10.31</p>
                                                    <p>per night</p>
                                                    <p>(275 reviews)</p>
                                                    <a>Select</a>
                            
                                                </div>
                                            
                                        </li>
                                        <li class="row">
                                                <div class="card-img col-md-3">
                                                    <img src="../dist/images/Image 15.png">
                                                </div>
                                                <div class="card-text  col-md-6">
                                                        <h3>Standard Room, 1 King Bed with Sofa bed 425 square feet</h3>
                                                        <p>1 king and 1 sofa bed </p>
                                                        <p>Room sleeps 4 guests (up to 3 children)</p>
                                                        <ul>
                                                            <li>
                                                                <em class="icon icon-parking"></em>
                                                                <p>Free Parking</p>
                                                            </li>
                                                            <li>
                                                                <em class="icon icon-wifi"></em>
                                                                <p>Free WIFI</p>
                                                            </li>
                                                        </ul>
                                                        <a href="#">Show room information</a>
                                                    </div>
                                                <div class="card-text  col-md-3">
                                
                                                        <p>+ $10.31</p>
                                                        <p>per night</p>
                                                        <p>(275 reviews)</p>
                                                        <a>Select</a>
                                
                                                    </div>
                                                
                                            </li>
                                            <li class="row">
                                                    <div class="card-img col-md-3">
                                                        <img src="../dist/images/Image 15.png">
                                                    </div>
                                                    <div class="card-text  col-md-6">
                                                            <h3>Standard Room, 1 King Bed with Sofa bed 425 square feet</h3>
                                                            <p>1 king and 1 sofa bed </p>
                                                            <p>Room sleeps 4 guests (up to 3 children)</p>
                                                            <ul>
                                                                <li>
                                                                    <em class="icon icon-parking"></em>
                                                                    <p>Free Parking</p>
                                                                </li>
                                                                <li>
                                                                    <em class="icon icon-wifi"></em>
                                                                    <p>Free WIFI</p>
                                                                </li>
                                                            </ul>
                                                            <a href="#">Show room information</a>
                                                        </div>
                                                    <div class="card-text  col-md-3">
                                    
                                                            <p>+ $10.31</p>
                                                            <p>per night</p>
                                                            <p>(275 reviews)</p>
                                                            <a>Select</a>
                                    
                                                        </div>
                                                    
                                                </li>
                               
                            </ul>
                    
                        </div>
            </div>
    </main>


</body>

  </html>
 