<html>

<head>
    <link rel="stylesheet" href="../icomoon/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../dist/css/app.css">
</head>

<body>

    <div class="container">

        <div class="col-lg-4">

            <div class="social-app-first ">
                <div class="search-box">
                    <input type="text" placeholder="Search for Conversation">
                    <span class="icon-search"></span>
                </div>
                <div class="status-part">
                    <div class="person-status">
                        <img class="profile-img" src="../dist/images/mark.jpg">
                        <div class="person">
                            <span class="person-name">Mark Zuckerberg -</span>
                            <span class="date">Tuesday at 12:03PM</span>
                            <p class="status">ITWorx Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="reaction-btns">
                            <button class="btn like"><span class="icon-like"></span>Like</button>
                            <button class="btn comment"><span class="icon-comment"></span>Comment</button>
                        <button class="btn share"><span class="icon-share"></span>Share</button>
                    </div>
                </div>

                <div class="comments">
                    <p class="previous-comments"><span class="icon-return-arrow"></span>View previous comments
                    </p>
                    <ul class="comment-part">
                        <li> <img class="profile-img" src="../dist/images/mark.jpg">
                            <div class="person">
                                <span class="person-name">Mark Zuckerberg</span>
                                <span class="person-comment">ITWorx Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                <div class="reply-btns">
                                    <button class="btn like"><span class="icon-like"></span>Like <span
                                            class="like-count">9</span></button>
                                    <button class="btn like">Reply</button>
                                    <span class="time">16 min</span>
                                </div>
                                <p class="previous-comments replies"><span class="icon-return-arrow"></span>View
                                    previous replies</p>
                                <ul class="comment-part replies-part">
                                    <li> <img class="profile-img" src="../dist/images/mark.jpg">
                                        <div class="person">
                                            <span class="person-name">Mark Zuckerberg</span>
                                            <span class="person-comment">ITWorx Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua.</span>
                                            <div class="reply-btns">
                                                <button class="btn like"><span class="icon-like"></span>Like
                                                    <span class="like-count">9</span></button>
                                                <button class="btn like">Reply</button>
                                                <span class="time">16 min</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="post-section">
                        <img src="../dist/images/mark.jpg">
                        <textarea type="text" placeholder="Write a Comment"></textarea>
                        <button class="btn post">Post</button>
                    </div>
                </div>
            </div>


        </div>


    </div>

</body>

</html>