<html>

<head>
    <link rel="stylesheet" href="../icomoon/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../dist/css/app.css">
</head>

<body>

    <div class="container">
        <div class="status-component col-lg-8">
            <div class="status-part">
                <div class="person-status">
                    <img class="profile-img" src="../dist/images/mark.jpg">
                    <div class="person">
                        <h2>John Adams</h2>
                        <span>Business Group Lead ITWORX Workplace</span>
                    </div>
                </div>
            </div>

            <div class="post-section row">
                <div class="top col-lg-12">
                    <div class="icons">
                            <a href="#" class="active"><em class="icon icon-edit-profile"></em></a>
                            <a href="#"><em class="icon icon-camera"></em></a>
                            <a href="#"><em class="icon icon-clip"></em></a>
                    </div>
                       <div class="posting">
                           <span>Posting in</span>
                           <img src="../dist/images/mark.jpg">
                           <select class="facet-dropdown-select" id="DropDownOptions" name="DropDownOptions"><option>My Timeline</option></select>
                       </div>
                </diV>
                <div class="post-wrapper col-lg-12">
                    <img src="../dist/images/mark.jpg">
                    <input type="text"></input>
                    <a class="btn post">Post</a>
                </div>
            </div>
        </div>


    </div>

</body>

</html>