<head>
        <link rel="stylesheet" href="../icomoon/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../dist/css/app.css">
   
</head>
<div class="container">
<div class="col-lg-4">
    <div class="trending-documents">

        <h3 class="list-title"><em class="icon icon-file"></em>Trending Documents</span> </h3>
        <ul class="stripped-list">
            <li><img src="../dist/images/word.png" class="list-img list-doc-img">
                <div class="stripped-list-content">
                    <div class="profile-name">Network Upgrade Request.doc</div>
                    <div class="title">Uploaded by IS team 3 weeks ago</div>
                </div>
            </li>
            <li><img src="../dist/images/word.png" class="list-img list-doc-img">
                <div class="stripped-list-content">
                    <div class="profile-name">Network Upgrade Request.doc</div>
                    <div class="title">Uploaded by IS team 3 weeks ago</div>
                </div>
            </li>
            <li>
                <img src="../dist/images/word.png" class="list-img list-doc-img">
                <div class="stripped-list-content">
                    <div class="profile-name">Network Upgrade Request.doc</div>
                    <div class="title">Uploaded by IS team 3 weeks ago</div>
                </div>
            </li>

        </ul>
        <div class="see-all-section"><a class="see-all">See All</a></div>
    </div>
     
</div>
</div>
