
.breadcrumb{
    color: black;
    background: #fff;
    margin-top: 30px;
    padding: 0.75rem 0;
    span{
        font-weight: 600;
        &:last-child{
            opacity: 0.4;
        }
    }
    .icon-right-arrow{
       
        margin: 6px 10px;
    }
}