$red-colour:#E03A3E;
$secondary-color:#fff;
$black-text:#3A3A3A;
$grey-background:#F6F6F6;
$shadow:#00000014;
$minor-text:#949494;
$border-color:#d3d3d3;
$gray:#787878;
//$light-border:#EFEFEF;
$border-grey:#DBDBDB;
$dark-green:#31A200;
$border-gray:#d2d2d2;
$header-top-border:#B5121B;
$header-bottom-border:#E2E2E2;
$black:#000;
$icon-black:#333;
$light-blue:#1AA9BF;
$progress-blue:#39C3D9;
$powder-blue:#39C3D91A;
$powder-gray:#F6F6F6;
$dark-gray:#6E6E6E;
$text-basic:#575757;
$light-grey:#EFEFEF;
$white:#fff;
$input-border:#E8E8E8;
$layout-buttons-color:#AFAFAF;
$icon-gray:#A9A9A9;
$date-gray:#747F8A;
$btn-gray:#EDEDED;
$like-btn-color:#00ABC5;
$light-brown:#D3A170;
$light-green:#8AB586;
$gray-comment:#E3E3E3;
$orange:#F5821E;
$time-color:#ACACAC;
$person-name-color:#BE9D56;
$vedio-play-icon:#1318ff;
$header-top-border:#B5121B;
$header-bottom-border:#E2E2E2;
$black-icon:#000;
$grey-background:#f4f4f4;
$rating-color:#ffca00;