@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?9rxkjl');
    src:  url('../fonts/icomoon/icomoon.eot?9rxkjl#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?9rxkjl') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?9rxkjl') format('woff'),
      url('../fonts/icomoon/icomoon.svg?9rxkjl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-clip:before {
  content: "\e92e";
}
.icon-camera:before {
  content: "\e92f";
}

.icon-pause:before {
  content: "\e92d";
}
.icon-play-arrow:before {
  content: "\e92c";
}
.icon-pdf-file .path1:before {
  content: "\e923";
  color: rgb(226, 229, 231);
}
.icon-pdf-file .path2:before {
  content: "\e924";
  margin-left: -0.8623046875em;
  color: rgb(176, 183, 189);
}
.icon-pdf-file .path3:before {
  content: "\e925";
  margin-left: -0.8623046875em;
  color: rgb(202, 209, 216);
}
.icon-pdf-file .path4:before {
  content: "\e926";
  margin-left: -0.8623046875em;
  color: rgb(241, 86, 66);
}
.icon-pdf-file .path5:before {
  content: "\e927";
  margin-left: -0.8623046875em;
  color: rgb(255, 255, 255);
}
.icon-pdf-file .path6:before {
  content: "\e928";
  margin-left: -0.8623046875em;
  color: rgb(255, 255, 255);
}
.icon-pdf-file .path7:before {
  content: "\e929";
  margin-left: -0.8623046875em;
  color: rgb(255, 255, 255);
}
.icon-pdf-file .path8:before {
  content: "\e92a";
  margin-left: -0.8623046875em;
  color: rgb(202, 209, 216);
}
.icon-hotel:before {
  content: "\e92b";
}
.icon-like:before {
  content: "\e91f";
}
.icon-calendar:before {
  content: "\e920";
}
.icon-comment:before {
  content: "\e921";
}
.icon-share:before {
  content: "\e922";
}
.icon-notification:before {
  content: "\e91e";
}
.icon-play:before {
  content: "\e900";
}
.icon-restaurant:before {
  content: "\e901";
}
.icon-wifi:before {
  content: "\e902";
}
.icon-parking:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-pin:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e907";
}
.icon-swap:before {
  content: "\e908";
}
.icon-return-arrow:before {
  content: "\e909";
}
.icon-robot:before {
  content: "\e90a";
}
.icon-learning:before {
  content: "\e90b";
}
.icon-add:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-app:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-side-menu:before {
  content: "\e910";
}
.icon-content-view:before {
  content: "\e911";
}
.icon-app-first:before {
  content: "\e912";
}
.icon-edit-profile:before {
  content: "\e913";
}
.icon-file:before {
  content: "\e914";
}
.icon-sand-watch:before {
  content: "\e915";
}
.icon-salary:before {
  content: "\e916";
}
.icon-smartphone:before {
  content: "\e917";
}
.icon-call:before {
  content: "\e918";
}
.icon-skype:before {
  content: "\e919";
}
.icon-mail:before {
  content: "\e91a";
}
.icon-plane:before {
  content: "\e91b";
}
.icon-respect:before {
  content: "\e91c";
}
.icon-coworkers:before {
  content: "\e91d";
}
